#container{
font-family: Arial, sans-serif;
text-align: center;
font-size: 2rem;
font-weight: bold;
}
button{
    font-size: 1.5rem;
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    background-color: blue;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
button:hover{
    background-color:hsla(240, 89%, 48%, 0.381)
}
button:active{
    background-color:hsla(240, 92%, 10%, 0.381)
}
input{
    font-size: 2rem;
    width: 150px;
    text-align: center;
    font-weight: bold;
}